article
{
    font-size: normal;
    margin-bottom: 5pt;
}

html {
    width: 100%;
    height: 100%;
}

body
{
    background-image: url(images/Mountain.jpg);
    background-repeat: round;
    margin-left: auto;
    margin-right: auto;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

nav[id="main_buttons"]
{
    background-color: rgb(68,101,135);
    font-family: 'Sorts Mill Goudy', serif;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    font-size: 20px; 
    border-radius: 0 0 25px 25px;
}

nav[id="main_buttons"] ul
{
   padding: 0;
   margin: 0;
   
   list-style: none;
}

nav[id="main_buttons"] ul li
{
    
    border-radius: 0 0 25px 25px;
    margin: 0px 2em 0 15px;
    display: inline-block;
    background-color: rgb(68,101,135);
}


nav[id="main_buttons"] a
{
    display: block;
    padding: 0 10px;
    color: #FFF;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
}

nav[id="main_buttons"] a:hover
{
    color: black;
    background-color: white;
    text-decoration: underline;
}

  
h4
{
    font-size: 35px;
    font-family: 'Sorts Mill Goudy', serif;

    color: white;
    text-shadow: 2px 2px 2px black, 1px 1px 1em black;
    /*display: block;*/
    text-align: center;
}

h5
{
    text-align: center;
}


.box
{
    background-image: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35), rgba(0,0,0,0.35));
    border-radius: 17%;
    border:1px solid rgb(170, 170, 170);
    box-shadow: 0 0 15px rgb(104, 103, 103);
    width: 500px;
}

.row {
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
}

.signUpForm input[type="submit"] {
    width: 50%;
}

.signUpForm {
    margin: 0 auto;
    width: 300px;
}

/*.inputData input {*/
/*    border-radius: 25px;*/
/*    display: block;*/
/*}*/

/*.inputData input[type="submit"] {*/
    /*position: relative;*/
    /*background:  rgb(83,97,131);*/
    /*color: white;*/

    /*z-index: 2;*/
    /*border-radius: 0 25px 0 25px;*/

    /*padding: 8px 37px 8px 37px;*/
    /*margin-top: 30px;*/
    /*left: 33%;*/
/*}*/

.error {
    color: red;
    text-shadow: 2px 2px 2px white, 1px 1px 1em white;
    display: block;
    text-align: center;
}

.errors {
    padding-top: 4%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    width: 80%;
    border-radius: 5%;
    border:1px solid rgb(170, 170, 170);
    box-shadow: 0 0 15px rgb(104, 103, 103);
    margin-bottom: 5%;
}

.container {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mapbox {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 95%;
    overflow: hidden;
}


.mapbox .menupanel {
    flex-basis: 40.0%;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}


.mapbox .menupanel #panel {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
    border:1px solid rgb(170, 170, 170);
    box-shadow: 0 0 15px rgb(104, 103, 103);
    height: 100%;
    width: 95%;
}

.list {
    width: 100%;
    height: 100%;
    margin-left: 0;
    padding-left: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
}

.mapbox .map {
    flex-basis: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#path {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    overflow-y: auto;
}

.tripContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

#tripName {
    width: 80%;
}

#saveTrip {
    margin-left: 5%;
}

.buttons {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.menuContainer {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9));
    padding-top: 2%;
    padding-bottom: 2%;
}

.outerlist {
    list-style: none;
    float: left;
    padding-left: 0;
    margin-left: 0;
}

.distance {
    float: right;
}

.line {
    border:1px solid rgb(170, 170, 170);
    box-shadow: 0 0 15px rgb(104, 103, 103);
    overflow-x: hidden;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}