article
{
    font-size: normal;
    margin-bottom: 5pt;
}

html {
    width: 100%;
    height: 100%;
}

body
{
    background-image: url(images/Mountain.jpg);
    background-repeat: round;
    margin-left: auto;
    margin-right: auto;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

nav[id="main_buttons"]
{
    background-color: rgb(68,101,135);
    font-family: 'Sorts Mill Goudy', serif;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    font-size: 20px; 
    border-radius: 0 0 25px 25px;
}

nav[id="main_buttons"] ul
{
   padding: 0;
   margin: 0;
   
   list-style: none;
   position: relative;
}

nav[id="main_buttons"] ul li
{
    
    border-radius: 0 0 25px 25px;
    margin: 0px 2em 0 15px;
    display: inline-block;
    background-color: rgb(68,101,135);
}


nav[id="main_buttons"] a
{
    display: block;
    padding: 0 10px;
    color: #FFF;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
}

nav[id="main_buttons"] a:hover
{
    color: black;
    background-color: white;
    text-decoration: underline;
}

.box
{
    background-image: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35), rgba(0,0,0,0.35));
    margin-top: 3%;
    margin-left: 38%;
    margin-right: 38%;
    position: relative;
    
       
    border-radius: 17%;
    border:1px solid rgb(170, 170, 170);    
    box-shadow: 0 0 15px rgb(104, 103, 103);

    overflow: hidden;
    padding: 45px 0;
}
  
.box:before 
{
    content: "";
    background-image: url("static/images/Mountain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
    z-index: 1;
    -webkit-filter: blur(5px) brightness(80%);
    filter: blur(5px) brightness(80%);
}

h4 
{
    position: relative;
    z-index: 2;
    text-align: center;
    
    margin-bottom: 40px;
    margin-left: 25%;
    margin-top: 2%;
    
    width: 50%;
    font-size: 35px; 
    font-family: 'Sorts Mill Goudy', serif;
    
    color: white;
    text-shadow: 2px 2px 2px black, 1px 1px 1em black;
}

h5 
{
    margin: 0;  /*top,right,bottom,left*/
    position: relative;
    z-index: 2;
    text-align: center;
}


.inputData {
    position: relative;
    z-index: 2;
    left: 21%;
    right: 21%;
}

.inputData input {
    border-radius: 25px;
    display: block;
    padding: 5px;
    margin-bottom: 10px;

}

.inputData input[type="submit"] {
    position: relative;
    background:  rgb(83,97,131);
    color: white;

    z-index: 2;
    border-radius: 0 25px 0 25px;

    padding: 8px 37px 8px 37px;
    margin-top: 30px;
    left: 33%;
}

.inputData .error {
    color: red;
    text-shadow: 2px 2px 2px white, 1px 1px 1em white;
}

.container {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mapbox {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 95%;
    overflow: hidden;
}

.mapbox .map {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapbox .map img {
    border-radius: 5%;
    height: 100%;
}

.mapbox .menupanel {
    flex-basis: 50.0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mapbox .menupanel #panel {
    display: block;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
    border:1px solid rgb(170, 170, 170);
    box-shadow: 0 0 15px rgb(104, 103, 103);
    height: 100%;
    width: 95%;
}

/*    border-radius: 17%;*/
/*    border:1px solid rgb(170, 170, 170);*/
/*    box-shadow: 0 0 15px rgb(104, 103, 103);*/

/*    overflow: hidden;*/
/*    padding: 45px 0;*/
/*}*/
