<!DOCTYPE html>
<html lang="Pl-pl"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>GOTHelper</title>

        <meta name="keywords" content="Logowanie, GOTHelper, góry, wycieczki">
        <meta name="description" content="Strona logowania"/>

        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy&display=swap" rel="stylesheet">

        <link rel="stylesheet" th:href="@{/styles.css}" type="text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" th:src="@{/script.js}" ></script>

    </head>

    <div th:insert="navbar :: bar"></div>
    <body>

    <div class="container">
        <div class="mapbox">
            <div class="menupanel">
                <div id="panel">
                    <div class="buttons">
                        <button id="revert">Cofnij</button>
                        <input id="tripName" type="text" placeholder="Nazwa wycieczki"/>
                        <button id="saveTrip">Zapisz</button>
                    </div>
                    <div class="list">
                        <ul id="path">
                        </ul>
                    </div>
                </div>

            </div>

            <div class="map">
                <canvas id="mapCanvas"></canvas>
            </div>
        </div>

    </div>
    </body>




</html>