<!DOCTYPE html>
<html lang="Pl-pl"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>GOTHelper</title>

        <meta name="keywords" content="Logowanie, GOTHelper, góry, wycieczki">
        <meta name="description" content="Strona logowania"/>

        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy&display=swap" rel="stylesheet">

        <link rel="stylesheet" th:href="@{/styles.css}" type="text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                var panel = $('#panel');
                // var selectsList = [$('#selectPoint')];
                // var select = selectsList[selectsList.length - 1];
                var select = $('selectPoint').val(1);

                console.log('dupa');
                $.ajax({
                    type: 'GET',
                    url: '/points/all',
                    success: function (data) {
                        console.log('pupa');
                        data.forEach(function (p) {
                            select.append(
                                $('<option></option>').val(p.idP).text(p.name)
                            )
                        })
                    }
                });

                select.change(function () {
                    var pointId = $(this).val();
                    console.log('valval');
                    $.ajax({
                        type: 'GET',
                        url: '/points/' + pointId,
                        success: function (data) {
                            data.forEach(console.log, console);
                        },
                        error: function () {
                            alert('error')
                        }
                    });
                });
            });
        </script>

    </head>

    <div th:insert="navbar :: bar"></div>
    <body>


    <div class="container">
        <div class="mapbox">
            <div class="menupanel">
                <div id="panel">
                      <select id="selectPoint"></select>
                </div>

            </div>

            <div class="map">
                <img th:src="@{'data:image/jpeg;base64,'+${img}}">
            </div>
        </div>

    </div>
    </body>




</html>